<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/select.css}" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" th:object="${userForm}">
    <div>
        <label for="username">Логин: </label>
        <input class="reg-input" id="username" th:field="*{username}"/>
        <p class="error-text" th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
        <p class="error-text" th:if="${usernameError}" th:text="${usernameError}"></p>
    </div><br>
    <div>
        <label for="password">Пароль: </label>
        <input class="reg-input" type="password" th:field="*{password}" id="password"/>
        <p class="error-text" th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div><br>
    <div>
        <label for="passwordConfirm">Повторите пароль: </label>
        <input class="reg-input" id="passwordConfirm" type="password" th:field="*{passwordConfirm}"/>
    </div>
    <p class="error-text" th:if="${passwordError}" th:text="${passwordError}"></p><br>

    <button type="submit">Подтвердить</button>
</form>
</body>
</html>