<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Admin</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/}" class="nav-button">На главную</a>
    <a th:href="@{/admin/vacancy/fill/db}">Спарсить вакансии</a>
    <a th:href="@{/admin/user}" class="nav-button">Users</a>
    <a th:href="@{/admin/profession}" class="nav-button">Profession</a>
    <a th:href="@{/admin/vacancy}" class="nav-button">Vacancy</a>
</div>
<div class="content">

</div>
</body>
</html>