<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Users</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/admin/profession}" class="nav-button">Profession</a>
    <a th:href="@{/admin/vacancy}" class="nav-button">Vacancy</a>
</div>
<div class="content">
    <table>
        <caption>
            Authorized Users
        </caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user: ${allUsers}">
            <tr>
                <th scope="row" th:text="${user.getId()}"></th>
                <td><a th:text="${user.getUsername()}"></a></td>
                <td>
                    <a th:href="@{user/delete/{id}(id=${user.getId()})}">
                        <button>DELETE</button>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <a th:href="@{/}">Back to main page</a>
</div>
</body>
</html>