<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <title>Users</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{/admin/profession}" class="nav-button">Profession</a>
    <a th:href="@{/admin/vacancy}" class="nav-button">Vacancy</a>
</div>
<div class="content">
    <label for="searchInput">Поиск</label>
    <input type="text" id="searchInput" onkeyup="filterProfessions()" placeholder="user.username">
    <table id="table">
        <caption>
            <div class="container">
                <form th:method="POST" th:action="@{/admin/user/insert}" th:object="${userForm}">
                    <div class="form-group">
                        <label for="username"><a>Логин:</a></label>
                        <input class="reg-input" id="username" th:field="*{username}"/>
                        <p class="error-text" th:each="error: ${#fields.errors('username')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="password"><a>Пароль:</a></label>
                        <input class="reg-input" id="password" th:field="*{password}"/>
                        <p class="error-text" th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="role"><a>Роль: </a></label>
                        <select id="role" name="role" th:field="*{roleName}">
                            <option th:value="${'ROLE_USER'}">Пользователь</option>
                            <option th:value="${'ROLE_ADMIN'}">Администратор</option>
                        </select>
                        <p class="error-text" th:each="error : ${#fields.errors('roleName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <button type="submit">INSERT</button>
                </form>
            </div>
        </caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user: ${allUsers}">
            <tr>
                <th scope="row" th:text="${user.getId()}"></th>
                <td><a th:text="${user.getUsername()}"></a></td>
                <td>
                    <a th:href="@{user/delete/{id}(id=${user.getId()})}">
                        <button>DELETE</button>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <a th:href="@{/}">Back to main page</a>
</div>
</body>
</html>
