<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/select.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script>
    function addToFavorites(button) {
        var vacancyId = button.getAttribute("data-vacancy-id");
        let url = `/favorite/add/${vacancyId}`;
        console.log(url);
        $.ajax({
            url: url,
            type: "GET",
            data: { vacancyId: vacancyId },
            success: function(response) {
                console.log("Вакансия добавлена в избранное {" + vacancyId + "}");
                $(button).removeClass('add-to-favorites').addClass('remove-from-favorites').text('Удалить из избранного');
                $(button).attr('onclick', 'removeFromFavorites(this)');
            },
            error: function(xhr, status, error) {
                console.error("Ошибка при добавлении в избранное: " + error);
            }
        });
    }

    function removeFromFavorites(button) {
        var vacancyId = button.getAttribute("data-vacancy-id");
        let url = `/favorite/remove/${vacancyId}`;
        console.log(url);
        $.ajax({
            url: url,
            type: "GET",
            data: { vacancyId: vacancyId },
            success: function(response) {
                console.log("Вакансия удалена из избранного {" + vacancyId + "}");
                $(button).removeClass('remove-from-favorites').addClass('add-to-favorites').text('Добавить в избранное');
                $(button).attr('onclick', 'addToFavorites(this)');
            },
            error: function(xhr, status, error) {
                console.error("Ошибка при удалении из избранного: " + error);
            }
        });
    }
</script>
<script th:src="@{/js/select.js}"></script>

<div class="navbar">
    <a th:href="@{/}" class="nav-button">GoJob</a>
    <a th:href="@{/login}" th:if="${!isAuthenticated}" class="nav-button">Войти</a>
    <a th:href="@{/account}" th:if="${isAuthenticated}" class="nav-button">Аккаунт</a>

</div>

<div class="content">
    <form th:method="POST" th:action="@{/search}" th:object="${vacancyForm}">
        <div><label for="city">Город:</label></div>
        <select th:field="*{city}" id="city" name="city">
            <option th:value="${null}"></option>
            <div th:each="city: ${cities}">
                <option th:value="${city.getId()}" th:text="${city.getName()}"></option>
            </div>
        </select><br><br>
        <div><label for="profession">Специальность:</label></div>
        <select th:field="*{profession}" id="profession" name="profession">
            <option th:value="${null}"></option>
            <div th:each="profession: ${professions}">
                <option th:value="${profession.getId()}" th:text="${profession.getName()}"></option>
            </div>
        </select>
        <div><label for="selectSkill">Навыки:</label></div>
        <select th:field="*{skills}" id="selectSkill" name="selectSkill" multiple size="20">
            <option th:each="skill : ${skills}"
                    th:value="${skill.getId()}"
                    th:text="${skill.getName()}">
            </option>
        </select>

        <br><br><button type="submit" id="submit">Поиск</button>
    </form>
    <div th:each="vacancy : ${results}">
        <div class="vacancy-box">
            <a class="vacancy-title" th:href="${vacancy.getUrl()}">
                <h1 th:text="${vacancy.getTitle()}"></h1>
            </a>
            <a class="vacancy-company" th:text="${vacancy.getCompany() + ', ' + vacancy.getCity().getName()}"></a><br><br>
            <p class="vacancy-wage" th:text="${vacancy.getWage()}"></p>
            <p class="skill">Навыки:</p>
            <div class="box-container">
                <div class="box" th:each="skill : ${vacancy.getSkills()}" >
                    <a class="vacancy-default_param" th:text="${skill.getName()}"></a>
                </div>
            </div><br>
            <div th:if="${isAuthenticated}">
                <button class="add-to-favorites" th:if="${!userService.vacancyExistsInFavoritesOfUser(vacancy)}"
                        th:data-vacancy-id="${vacancy.getId()}"
                        onclick="addToFavorites(this)">
                    Добавить в избранное
                </button>

                <button class="remove-from-favorites" th:if="${userService.vacancyExistsInFavoritesOfUser(vacancy)}"
                        th:data-vacancy-id="${vacancy.getId()}"
                        onclick="removeFromFavorites(this)">
                    Удалить из избранного
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>