.container {
    display: flex;
    justify-content: space-between; /* Располагает дочерние элементы справа */
    padding: 20px;
    width: 100%
}

form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}