<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>GoJob</title>
</head>
<body>
<h1>Дорогой посетитель!</h1>

<div class="text-box">
    <a>Добро пожаловать на наш сайт, где мы стремимся помочь вам найти наиболее лучшие вакансии в IT сфере.</a><br>
    <a>Мы понимаем, что поиск работы может быть сложным и утомительным процессом, поэтому мы создали этот ресурс,</a><br>
    <a>чтобы облегчить вашу задачу.</a><br><br>
    <a>Не теряйте время на бесконечный поиск в Интернете. Доверьтесь нам и нашему алгоритму, чтобы обнаружить лучшие вакансии</a><br>
    <a>в IT сфере. Мы уверены, что наш сайт станет вашим незаменимым помощником в поиске работы, и вы сможете</a><br>
    <a>реализовать свой потенциал в сфере информационных технологий.</a><br><br>
    <a>Спасибо, что выбрали нас! Желаем вам успехов в вашем профессиональном пути.</a><br><br>
    <a>С наилучшими пожеланиями, Команда сайта по поиску вакансий в IT сфере</a>
</div>

<div class="text-box">
    <a>Чтобы найти работу своей мечты, нажмите на кнопку ниже</a><br><br>
    <a th:href="@{/search/job}"><button>Найти работу</button></a>
</div>
</body>
</html>