<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>GoJob</title>
</head>
<body>
<div class="navbar">
    <a class="nav-button">GoJob</a>
    <a th:href="@{/search}" class="nav-button">Найти работу</a>
    <a th:href="@{/login}" class="nav-button">Войти</a>
</div>

<div class="content">
    <h1>Дорогой посетитель!</h1>

    <div class="text-box">
        <a>Добро пожаловать на наш сайт, где мы стремимся помочь вам найти наиболее лучшие вакансии в IT сфере.</a><br>
        <a>Мы понимаем, что поиск работы может быть сложным и утомительным процессом, поэтому мы создали этот ресурс,</a><br>
        <a>чтобы облегчить вашу задачу.</a><br><br>
        <a>Не теряйте время на бесконечный поиск в Интернете. Доверьтесь нам и нашему алгоритму, чтобы обнаружить лучшие вакансии</a><br>
        <a>в IT сфере. Мы уверены, что наш сайт станет вашим незаменимым помощником в поиске работы, и вы сможете</a><br>
        <a>реализовать свой потенциал в сфере информационных технологий.</a><br><br>
        <a>Спасибо, что выбрали нас! Желаем вам успехов в вашем профессиональном пути.</a><br><br>
        <a>С наилучшими пожеланиями, Команда сайта по поиску вакансий в IT сфере</a>
    </div>

    <div class="text-box">
        <a>Чтобы найти работу своей мечты, нажмите на      </a>
        <a th:href="@{/search}"><button class="button-text">Найти работу</button></a>
    </div>

    <div class="text-box">
        <a>Если вы хотите регулярно использовать наш сайт, то рекомендуем зарегистрироваться</a><br><br>
        <a th:href="@{/registration}"><button class="button-text">Регистрация</button></a><br><br><br>
        <a>Если вы уже имеете аккаунт, то милости просим :)</a><br><br>
        <a th:href="@{/login}"><button class="button-text">Войти</button></a>
</div>

</div>
</body>
</html>